body {
  text-align: center;
  padding: 150px;
  padding-left: 30%;
  font: 20px Helvetica, sans-serif;
  color: #333;
  min-width: 500px;
}

article {
  display: block;
  text-align: left;
  width: 650px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  body {
    text-align: center;
    padding: 150px;
    padding-left: 5%;
  }
}
